#### Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [66]:
import pandas as pd
import numpy as np

In [116]:
horses_raw = pd.read_csv('практика_и_дз/horse_data.csv', header=None, na_values = '?') 
horses_raw.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [117]:
horses = horses_raw.filter(items = [0, 1, 3, 4, 5, 6, 10, 22]) #оставляем только треубемые столбцы
headers = ['surgery?', 'age', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'pain', 'outcome']
horses.columns = headers #присваиваем заголовки

In [118]:
horses.head()

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

#### Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [119]:
horses.describe() #расчет базовых статистик по всем столбцам

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [121]:
# проверим корректность полученных данных в столбцах со строго определенным списком возможных значений
value_counts = ['surgery?', 'age', 'temperature_of_extremities', 'pain', 'outcome'] 
for value in value_counts:
    print(horses[value].value_counts())

1.0    180
2.0    119
Name: surgery?, dtype: int64
1    276
9     24
Name: age, dtype: int64
3.0    109
1.0     78
2.0     30
4.0     27
Name: temperature_of_extremities, dtype: int64
3.0    67
2.0    59
5.0    42
4.0    39
1.0    38
Name: pain, dtype: int64
1.0    178
2.0     77
3.0     44
Name: outcome, dtype: int64

Проверив полученные значения на соответствие значениям из описания данных, можно увидеть несоответствие в данных столбца ***age***  
Согласно описанию данных, в столбце age могут встречаться только значения 1(adult) или 2(young), а в представленном датафрейме представлены значения 1 и 9.  
Рассчитав средние значения показателей для лошадей с возрастом 1 и 9, можно заметить, что значительно различаются средние значения для пармаетра pulse. В описании указано, что для взрослых лошадей норма пульса колеблется от 30 до 40, а для молодых, как правило, характерны более высокие значения.  
Соответсвенно, можно предположить, что это ошибка в данных, и целесообразно заменить все значения 9 на 2.

In [122]:
horses[horses.age == 1].mean()

surgery?                       1.410909
age                            1.000000
rectal_temperature            38.124545
pulse                         67.456693
respiratory_rate              28.238739
temperature_of_extremities     2.364035
pain                           2.938596
outcome                        1.552727
dtype: float64

In [123]:
horses[horses.age == 9].mean()

surgery?                        1.250000
age                             9.000000
rectal_temperature             38.645000
pulse                         123.363636
respiratory_rate               54.600000
temperature_of_extremities      2.125000
pain                            3.117647
outcome                         1.541667
dtype: float64

In [124]:
horses.loc[(horses.age == 9), 'age'] = 2 #заменяем 9 на 2

In [98]:
#выбросы
def find_outlier(df, param):
    q1 = df[param].quantile(0.25)
    q3 = df[param].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - (1.5 * iqr) 
    upper_bound = q3 + (1.5 * iqr)
    df2= df[~df[param].between(lower_bound, upper_bound, inclusive=True)]
    return df2.loc[df2[param].notnull()]

In [132]:
find_outlier(horses, 'pulse') #выбросы для столбца pulse

# в выбросы попали очень высокие значения пульса, которые могут быть вызваны болезненными поражениями или циркуляторным шоком,
# что вполне вероятно, учитывая преимущественно высокие значения respiratory_rate, rectaltemperature, pain 
# также обращает на себя внимание то, что в выборку попали только взрослые лошадии 
# и тот факт, что все из них, кроме 41 (которой единственной из выборки не делали операцию) в итоге умерли
# также стоит обратить внимание, что в выборку попали только взрослые лошади

/var/folders/lp/5kjfb8cj4hl70xjvh2_0zl040000gn/T/ipykernel_17301/2432941940.py:8: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  df2= df[~df[param].between(lower_bound, upper_bound, inclusive=True)]

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,2,38.8,150.0,50.0,1.0,5.0,2.0

In [128]:
find_outlier(horses,'rectal_temperature').sort_values(by=['rectal_temperature']) #выбросы для столбца rectaltemperature

# норма данного показателя - 37.8. в выбросы попали как высокие, так и низкие значения
# высокие значения, согласно описанию данных, могут быть связаны с инфекцией, а низкие - с последними стадиями шоками 
# примечательно, что в выборку попали преимущественно молодые лошади

/var/folders/lp/5kjfb8cj4hl70xjvh2_0zl040000gn/T/ipykernel_17301/2432941940.py:8: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  df2= df[~df[param].between(lower_bound, upper_bound, inclusive=True)]

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
44,1.0,1,35.4,140.0,24.0,3.0,4.0,3.0
141,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
238,2.0,1,36.1,88.0,NaN,3.0,3.0,3.0
80,1.0,1,36.4,98.0,35.0,3.0,4.0,2.0
118,1.0,1,36.5,78.0,30.0,1.0,5.0,1.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
251,2.0,1,36.6,42.0,18.0,3.0,1.0,2.0
99,2.0,1,39.6,108.0,51.0,3.0,2.0,1.0
75,1.0,2,39.7,100.0,NaN,3.0,2.0,3.0
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
54,2.0,1,40.3,114.0,36.0,3.0,2.0,3.0
91,2.0,1,40.3,114.0,36.0,3.0,2.0,2.0
259,1.0,1,40.8,72.0,42.0,3.0,2.0,2.0

In [133]:
find_outlier(horses,'respiratory_rate').sort_values(by=['respiratory_rate']) #выбросы для столбца respiratory_rate

# в выборку попали лошади с очень высокими значениями частоты дыхания, которые превышают норму в 6-10 раз
# вероятно, у этих лошадей были диагнастированы проблемы с дыхаиельными путями,которые вызывают такие отклонения

/var/folders/lp/5kjfb8cj4hl70xjvh2_0zl040000gn/T/ipykernel_17301/2432941940.py:8: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  df2= df[~df[param].between(lower_bound, upper_bound, inclusive=True)]

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
120,1.0,1,39.4,54.0,66.0,1.0,2.0,1.0
125,1.0,1,38.0,42.0,68.0,4.0,3.0,1.0
265,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
103,1.0,2,38.0,140.0,68.0,1.0,3.0,1.0
229,1.0,2,38.5,120.0,70.0,NaN,NaN,1.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
82,1.0,2,38.1,100.0,80.0,3.0,3.0,1.0
208,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
84,1.0,1,37.8,60.0,80.0,1.0,2.0,1.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
244,1.0,2,38.2,124.0,88.0,1.0,2.0,1.0
269,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
186,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
39,1.0,2,39.2,146.0,96.0,NaN,NaN,2.0

#### Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [134]:
horses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   age                         300 non-null    int64
 2   rectal_temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory_rate            242 non-null    float64
 5   temperature_of_extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [140]:
#процент пропущенных данных
(horses.isna().mean() * 100)

surgery?                       0.333333
age                            0.000000
rectal_temperature            20.000000
pulse                          8.000000
respiratory_rate              19.333333
temperature_of_extremities    18.666667
pain                          18.333333
outcome                        0.333333
dtype: float64

**surgery?**

In [206]:
horses[horses['surgery?'] == 1].median()

surgery?                       1.0
age                            1.0
rectal_temperature            38.1
pulse                         70.0
respiratory_rate              28.0
temperature_of_extremities     3.0
pain                           3.0
outcome                        1.0
dtype: float64

In [207]:
horses[horses['surgery?'] == 2].median()

surgery?                       2.0
age                            1.0
rectal_temperature            38.2
pulse                         56.0
respiratory_rate              24.0
temperature_of_extremities     2.0
pain                           2.0
outcome                        1.0
dtype: float64

In [147]:
# находим пустые значение в столбце surgery?
horses[horses['surgery?'].isna()]

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

Беря в расчет наблюдаемую тенденцию - чем выше показатель боли, тем больше вероятность того, что потребовалось хирургическое вмешательство (медиана в pain выше у тех, кому проводилась операция) - можно предположить, что операция состоялась, поскольку в данном случае значение равно 4 (периодические мучительные боли)

In [161]:
horses_filled = horses.copy()
horses_filled['surgery?'] = horses_filled['surgery?'].fillna(1) #заполняем пропуск

**outcome**

In [205]:
horses_filled[horses['outcome'].isna()]

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [212]:
horses_filled.outcome.value_counts()

1.0    178
2.0     77
3.0     44
Name: outcome, dtype: int64

учитывая, что все показатели не сильно отклоняются от нормы и тот факт, что 60% всех лошадей в итоге выжило, можем предположить (и надеяться), что и в этом случае все обошлось благополучно

In [213]:
horses_filled['outcome'] = horses_filled['outcome'].fillna(1) #заполняем пропуск

**rectal_temperature**

In [148]:
horses[horses.rectal_temperature.isna()]

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
16,1.0,2,NaN,128.0,36.0,3.0,4.0,2.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
34,1.0,1,NaN,100.0,30.0,3.0,5.0,1.0
35,2.0,1,NaN,104.0,24.0,4.0,4.0,3.0
40,1.0,1,NaN,88.0,NaN,3.0,5.0,2.0
43,1.0,1,NaN,120.0,NaN,3.0,4.0,3.0
45,2.0,1,NaN,120.0,NaN,4.0,5.0,2.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
57,1.0,1,NaN,64.0,36.0,2.0,5.0,2.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
59,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
65,1.0,1,NaN,60.0,36.0,3.0,3.0,1.0
68,2.0,1,NaN,52.0,16.0,1.0,NaN,1.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
78,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
86,1.0,1,NaN,88.0,40.0,3.0,5.0,2.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
101,1.0,1,NaN,60.0,20.0,4.0,5.0,3.0
105,1.0,1,NaN,70.0,36.0,1.0,2.0,1.0
110,1.0,1,NaN,70.0,16.0,3.0,2.0,2.0
112,1.0,1,NaN,40.0,NaN,2.0,1.0,1.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
134,1.0,1,NaN,100.0,NaN,3.0,5.0,2.0
136,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
142,1.0,1,NaN,120.0,NaN,4.0,5.0,2.0
145,2.0,1,NaN,80.0,32.0,3.0,2.0,1.0
152,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
167,2.0,1,NaN,44.0,24.0,1.0,3.0,1.0
169,1.0,1,NaN,65.0,24.0,NaN,5.0,3.0
173,1.0,1,NaN,104.0,NaN,3.0,2.0,2.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
177,1.0,1,NaN,68.0,14.0,NaN,4.0,2.0
178,1.0,1,NaN,60.0,30.0,3.0,5.0,1.0
191,2.0,2,NaN,100.0,44.0,2.0,4.0,1.0
193,1.0,1,NaN,60.0,48.0,3.0,4.0,2.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
219,1.0,1,NaN,52.0,28.0,3.0,3.0,1.0
222,1.0,1,NaN,112.0,13.0,4.0,2.0,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
242,1.0,1,NaN,36.0,32.0,1.0,5.0,2.0
245,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
253,2.0,1,NaN,112.0,24.0,3.0,5.0,1.0
254,1.0,1,NaN,80.0,NaN,3.0,4.0,1.0
265,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
272,1.0,1,NaN,100.0,30.0,3.0,5.0,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
282,1.0,1,NaN,70.0,16.0,3.0,2.0,2.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

Поскольку существует корреляция (согласно описанию данных) между значениями temperature_of_extremities и rectal_temperature, предлагается заполнить пропуски медианой в разрезе значений temperature_of_extremities

In [187]:
horses_filled['rectal_temperature'] = horses_filled['rectal_temperature'].fillna(
    horses.groupby('temperature_of_extremities')['rectal_temperature'].transform('median'))

однако в столбце temperature_of_extremities также много пропущенных данных, соответственно, не получится заполнить все пропуски только по этому значению
для оставшихся пропусков можем использовать медиану в разрезе outcome

In [188]:
horses_filled['rectal_temperature'] = horses_filled['rectal_temperature'].fillna(
    horses.groupby('outcome')['rectal_temperature'].transform('median'))

**pulse, respiratory_rate**

In [149]:
horses[horses.pulse.isna()]

,surgery?,age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
78,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
83,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
117,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
126,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
136,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
151,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
182,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
204,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0

In [220]:
horses_filled.groupby(['age', 'outcome']).median()

             surgery?  rectal_temperature  pulse  respiratory_rate  \
age outcome
1   1.0           1.0                38.2   52.0              24.0
    2.0           1.0                38.1   82.0              28.0
    3.0           1.0                38.1   81.0              24.0
2   1.0           1.0                38.3  120.0              64.0
    2.0           1.0                38.6  141.0              44.0
    3.0           1.0                39.7  100.0               NaN

             temperature_of_extremities  pain
age outcome
1   1.0                             2.0   3.0
    2.0                             3.0   4.0
    3.0                             3.0   3.5
2   1.0                             1.0   3.0
    2.0                             3.0   3.0
    3.0                             3.0   2.0

как видно из представленных выше данных, значения pulse и respiratory_rate значительно различаются в разрезе age и surgery?
следовательно, можем заполнить пропуски по такой логике

In [221]:
horses_filled['pulse'] = horses_filled['pulse'].fillna(
    horses.groupby(['age', 'outcome'])['pulse'].transform('median'))

**temperature_of_extremities**

In [216]:
horses_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    300 non-null    float64
 1   age                         300 non-null    int64
 2   rectal_temperature          300 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory_rate            242 non-null    float64
 5   temperature_of_extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     300 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

**pain**

In [150]:
horses[horses.age == 1].mean()

surgery?                       1.410909
age                            1.000000
rectal_temperature            38.124545
pulse                         67.456693
respiratory_rate              28.238739
temperature_of_extremities     2.364035
pain                           2.938596
outcome                        1.552727
dtype: float64

In [151]:
horses[horses.age == 2].mean()

surgery?                        1.250000
age                             2.000000
rectal_temperature             38.645000
pulse                         123.363636
respiratory_rate               54.600000
temperature_of_extremities      2.125000
pain                            3.117647
outcome                         1.541667
dtype: float64